.product-card {
  display: inline-block;
  border: 1px solid #000000;
  width: 10rem;
  height: 11rem;
  margin-bottom: .5rem;
}


.product-card-image img {
  width: 100%;
  height: auto;
}

.product-card-info {
  display: none;
}

.product-card:hover .product-card-info {
  display: inherit;
}
