.product-card {
  display: inline-block;
  border: 1px solid #000000;
  width: 10rem;
  height: 11rem;
  margin-bottom: .5rem;
  text-align: center;
}


.product-card-image img {
  width: 100%;
  height: auto;
}
